@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-open-sans: "Open Sans";
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-smi-4: 12.4px;
  --font-size-sm-1: 13.1px;
  --font-size-base-3: 15.3px;
  --font-size-smi-6: 12.6px;
  --font-size-mini-6: 14.6px;
  --font-size-base-1: 15.1px;
  --font-size-base: 16px;
  --font-size-smi: 13px;
  --font-size-mini-5: 14.5px;
  --font-size-mini-8: 14.8px;
  --font-size-mini: 15px;
  --font-size-mini-9: 14.9px;
  --font-size-mini-4: 14.4px;
  --font-size-mini-3: 14.3px;
  --font-size-smi-8: 12.8px;
  --font-size-smi-9: 12.9px;
  --font-size-sm-9: 13.9px;
  --font-size-mini-1: 14.1px;
  --font-size-xs-8: 11.8px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-xl-8: 20.8px;
  --font-size-lgi-8: 19.8px;
  --font-size-sm-2: 13.2px;
  --font-size-sm-6: 13.6px;
  --font-size-lgi-2: 19.2px;
  --font-size-sm-4: 13.4px;
  --font-size-xs-6: 11.6px;
  --font-size-lg-2: 18.2px;
  --font-size-sm-5: 13.5px;
  --font-size-smi-7: 12.7px;
  --font-size-xl-2: 20.2px;
  --font-size-base-5: 15.5px;
  --font-size-sm-8: 13.8px;
  --font-size-xs-5: 11.5px;
  --font-size-smi-5: 12.5px;
  --font-size-xl: 20px;
  --font-size-lgi-4: 19.4px;
  --font-size-sm-7: 13.7px;
  --font-size-lg-9: 18.9px;
  --font-size-lg: 18px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-xl-6: 20.6px;
  --font-size-2xs: 11px;
  --font-size-18xl: 37px;
  --font-size-11xl: 30px;
  --font-size-lgi-9: 19.9px;
  --font-size-xl-5: 20.5px;

  /* Colors */
  --color-whitesmoke-100: #f8f9fb;
  --color-whitesmoke-200: #f8f9fa;
  --color-whitesmoke-300: #f5f5f5;
  --color-whitesmoke-400: #f3f5f6;
  --color-whitesmoke-500: #f0f0f0;
  --color-whitesmoke-600: #eee;
  --color-gainsboro-100: #dfe3e9;
  --color-gainsboro-200: #e1e3e4;
  --color-dimgray-100: #677279;
  --color-dimgray-200: #686868;
  --color-dimgray-300: #666;
  --color-dimgray-400: #555;
  --color-dimgray-500: #4d4d4d;
  --color-dimgray-600: rgba(77, 77, 77, 0.8);
  --color-dimgray-700: rgba(103, 114, 121, 0.5);
  --color-mediumseagreen-100: #1cc286;
  --color-mediumseagreen-200: #08b85a;
  --color-white: #fff;
  --color-lightgray-100: #d4d6d8;
  --color-lightgray-200: #ccd6e0;
  --color-darkslategray-100: #484848;
  --color-darkslategray-200: #273a43;
  --color-darkslategray-300: #333;
  --color-mediumspringgreen: #46dd6b;
  --color-olive: #968704;
  --color-black: #000;
  --color-darkturquoise: #26c1ce;
  --color-gray-100: #2a2a2e;
  --color-gray-200: #132644;
  --color-gray-300: rgba(42, 42, 46, 0.3);
  --color-gray-400: rgba(23, 23, 23, 0.8);
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-red: #ee0000;
  --color-royalblue: #0075ff;
  --color-cornflowerblue: #528ff0;
  --color-silver: #bbb;
  --color-gold: #ffd200;

  /* Gaps */
  --gap-12xs-1: 0.1px;
  --gap-171xl: 190px;
  --gap-5xl: 24px;
  --gap-28xl: 47px;
  --gap-76xl: 95px;
  --gap-21xl-8: 40.8px;
  --gap-xl: 20px;
  --gap-7xs: 6px;
  --gap-3xs: 10px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-89xl: 108px;
  --gap-35xl: 54px;
  --gap-xs-6: 11.6px;
  --gap-xs-2: 11.2px;
  --gap-base-4: 15.4px;
  --gap-3xs-6: 9.6px;
  --gap-175xl-1: 194.1px;
  --gap-base-6: 16.6px;
  --gap-3xs-4: 9.4px;
  --gap-54xl-1: 73.1px;
  --gap-lg: 18px;
  --gap-18xl: 37px;
  --gap-9xs-1: 3.1px;
  --gap-9xs-5: 3.5px;
  --gap-xs: 12px;
  --gap-40xl-9: 59.9px;
  --gap-11xl: 30px;
  --gap-6xs: 7px;
  --gap-xl-1: 20.1px;
  --gap-lgi-4: 19.4px;
  --gap-66xl: 85px;
  --gap-mini-1: 14.1px;
  --gap-6xs-5: 6.5px;
  --gap-58xl-1: 77.1px;
  --gap-8xs-2: 4.2px;
  --gap-11xs: 2px;
  --gap-79xl-1: 98.1px;
  --gap-7xs-6: 5.6px;
  --gap-sm-7: 13.7px;
  --gap-87xl: 106px;
  --gap-8xs-1: 4.1px;
  --gap-sm-6: 13.6px;
  --gap-55xl-9: 74.9px;
  --gap-5xl-5: 24.5px;
  --gap-12xs-5: 0.5px;
  --gap-6xs-4: 6.4px;
  --gap-8xs-7: 4.7px;
  --gap-7xs-5: 5.5px;
  --gap-2xs-9: 10.9px;
  --gap-8xs: 5px;
  --gap-7xs-3: 5.3px;
  --gap-5xs: 8px;
  --gap-4xs-4: 8.4px;
  --gap-8xs-4: 4.4px;
  --gap-3xl-3: 22.3px;
  --gap-8xl-1: 27.1px;
  --gap-3xs-5: 9.5px;
  --gap-10xs-4: 2.4px;
  --gap-10xs-5: 2.5px;
  --gap-sm-3: 13.3px;
  --gap-12xs: 1px;
  --gap-6xs-1: 6.1px;
  --gap-3xs-3: 9.3px;
  --gap-12xs-2: 0.2px;
  --gap-8xl: 27px;
  --gap-smi-9: 12.9px;
  --gap-smi-8: 12.8px;
  --gap-5xs-8: 7.8px;
  --gap-sm-4: 13.4px;
  --gap-4xs: 9px;
  --gap-mid-1: 17.1px;
  --gap-5xs-6: 7.6px;
  --gap-base-1: 15.1px;
  --gap-smi-4: 12.4px;
  --gap-lg-1: 18.1px;
  --gap-4xs-2: 8.2px;
  --gap-4xs-6: 8.6px;
  --gap-2xs-5: 10.5px;
  --gap-11xl-5: 30.5px;
  --gap-mini: 15px;
  --gap-113xl-3: 132.3px;
  --gap-47xl: 66px;
  --gap-207xl-3: 226.3px;
  --gap-94xl: 113px;
  --gap-146xl-9: 165.9px;
  --gap-64xl: 83px;
  --gap-120xl-9: 139.9px;
  --gap-122xl-1: 141.1px;
  --gap-52xl: 71px;
  --gap-111xl: 130px;
  --gap-46xl: 65px;
  --gap-87xl-1: 106.1px;
  --gap-34xl: 53px;
  --gap-127xl-1: 146.1px;
  --gap-54xl: 73px;
  --gap-mid-6: 17.6px;
  --gap-80xl: 99px;
  --gap-6xl: 25px;
  --gap-30xl: 49px;
  --gap-4xs-1: 8.1px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-74xl-7: 93.7px;
  --gap-72xl-8: 91.8px;
  --gap-27xl: 46px;
  --gap-109xl-2: 128.2px;
  --gap-45xl: 64px;
  --gap-107xl-5: 126.5px;
  --gap-44xl: 63px;
  --gap-96xl-3: 115.3px;
  --gap-39xl: 58px;
  --gap-134xl-5: 153.5px;
  --gap-58xl: 77px;
  --gap-183xl-5: 202.5px;
  --gap-82xl: 101px;
  --gap-3xl-1: 22.1px;
  --gap-2xs-8: 10.8px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-2xl-4: 21.4px;
  --gap-mid-7: 17.7px;
  --gap-6xs-6: 6.6px;
  --gap-15xl: 34px;
  --gap-xs-9: 11.9px;
  --gap-9xs-8: 3.8px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-30xl: 49px;
  --padding-31xl-1: 50.1px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-smi-1: 12.1px;
  --padding-xl: 20px;
  --padding-151xl: 170px;
  --padding-10xl-3: 29.3px;
  --padding-12xs-5: 0.5px;
  --padding-11xl: 30px;
  --padding-smi: 13px;
  --padding-92xl: 111px;
  --padding-111xl-6: 130.6px;
  --padding-11xs: 2px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-2xs: 11px;
  --padding-7xs-9: 5.9px;
  --padding-5xl: 24px;
  --padding-4xs-3: 8.3px;
  --padding-20xl-5: 39.5px;
  --padding-22xl: 41px;
  --padding-619xl-6: 638.6px;
  --padding-396xl: 415px;
  --padding-mini: 15px;
  --padding-lg: 18px;
  --padding-10xl-6: 29.6px;
  --padding-7xl: 26px;
  --padding-92xl-1: 111.1px;
  --padding-10xl-7: 29.7px;
  --padding-xl-1: 20.1px;
  --padding-215xl: 234px;
  --padding-41xl-7: 60.7px;
  --padding-41xl-9: 60.9px;
  --padding-8xs: 5px;
  --padding-9xs: 4px;
  --padding-3xs-3: 9.3px;
  --padding-7xs-2: 5.2px;
  --padding-7xs-6: 5.6px;
  --padding-42xl: 61px;
  --padding-7xs-5: 5.5px;
  --padding-lgi: 19px;
  --padding-2xl: 21px;
  --padding-11xs-9: 1.9px;
  --padding-11xs-6: 1.6px;
  --padding-11xs-5: 1.5px;
  --padding-2xs-5: 10.5px;
  --padding-51xl: 70px;
  --padding-lgi-8: 19.8px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-base: 16px;
  --padding-6xl: 25px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-4xs: 9px;
  --padding-10xs: 3px;
  --padding-8xs-5: 4.5px;
  --padding-7xs-1: 5.1px;
  --padding-20xl: 39px;
  --padding-12xl: 31px;
  --padding-5xs-7: 7.7px;
  --padding-26xl: 45px;
  --padding-3xl: 22px;
  --padding-10xl: 29px;
  --padding-10xl-5: 29.5px;
  --padding-11xl-1: 30.1px;
  --padding-12xs-7: 0.7px;
  --padding-base-2: 16.2px;
  --padding-mid-8: 17.8px;
  --padding-2xs-1: 10.1px;
  --padding-mid-2: 17.2px;
  --padding-lg-8: 18.8px;
  --padding-xl-2: 20.2px;
  --padding-base-4: 15.4px;
  --padding-5xs-1: 7.1px;
  --padding-42xl-9: 61.9px;
  --padding-32xl: 51px;
  --padding-2xs-8: 10.8px;
  --padding-12xs-2: 0.2px;
  --padding-7xs-4: 5.4px;
  --padding-81xl: 100px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-46xl: 65px;
  --padding-43xl-6: 62.6px;
  --padding-40xl-4: 59.4px;
  --padding-19xl-8: 38.8px;
  --padding-base-8: 15.8px;
  --padding-9xs-2: 3.2px;
  --padding-43xl-7: 62.7px;
  --padding-154xl-5: 173.5px;
  --padding-67xl: 86px;
  --padding-146xl-2: 165.2px;
  --padding-63xl: 82px;
  --padding-14xl-2: 33.2px;
  --padding-mid: 17px;
  --padding-4xl: 23px;
  --padding-3xs-5: 9.5px;
  --padding-11xl-6: 30.6px;
  --padding-8xs-1: 4.1px;
  --padding-9xs-9: 3.9px;
  --padding-4xs-9: 8.9px;
  --padding-3xl-8: 22.8px;
  --padding-241xl: 260px;
  --padding-111xl: 130px;
  --padding-12xs-8: 0.8px;
  --padding-10xs-3: 2.3px;
  --padding-8xs-8: 4.8px;
  --padding-6xs-4: 6.4px;
  --padding-lgi-9: 19.9px;
  --padding-smi-5: 12.5px;
  --padding-6xs-5: 6.5px;

  /* Border radiuses */
  --br-11xs: 2px;
  --br-41xl: 60px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-9xs: 4px;
  --br-10xs-5: 2.5px;
  --br-xl: 20px;
  --br-sm: 14px;
  --br-8xl-8: 27.8px;
  --br-6xl: 25px;
  --br-3xl-8: 22.8px;
}
